<mat-card>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addPlan()">Add</button>
    </mat-card-actions>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Training plan list
            </mat-panel-title>
            <mat-panel-description>
                Needs to be implemented
            </mat-panel-description>
        </mat-expansion-panel-header>

        <h1>Training plan info</h1>

    </mat-expansion-panel>

</mat-card>
